nav{
    width: auto;
    height: 42px;
    background: $colorDark;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand{
        color: white;
        a{
            font-weight: normal;
        }
    }
    a{
        font-size: 13px;
        font-weight: bold;
        color: white;
        padding: 14px 22px;
        text-decoration: none;
        display: flex;
        align-items: center;
        img {
            margin-right: 12px;
            width: 30px;
        }
    }
    .navbar-person{
        margin-left: 12px;
        border-radius: 100%;
    }
    .dropdown{
        width: 16px;
    }


}